* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}



.header {
    width: 100%;
}


.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 18px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.logo img {
    width: 70px;
}


.txt ul {
    display: flex;
    gap: 35px;
    list-style: none;

}


.txt ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 500;
}


.container img {
    width: 70px;
    cursor: pointer;
}



section {
    width: 100%;
    height: calc(100vh - 90px);
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(./bcg.png); 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.section_wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}


.section_wrapper {
    color: white;
    font-weight: 700;
    line-height: 1.15;
    font-size: 64px;
    margin-bottom: 30px;
}


.btn{
    padding: 14px 36px;
    background-color: #4CAF50;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;

}


.btn:hover{
    background-color: #43a047;

}
